{% extends 'base.html' %} {% load bootstrap3 %} {% load crispy_forms_tags %} {% load render_table from django_tables2 %} {% block main %}
<div class="dpad container-fluid">
    <h1><a href="{% url 'battery:index' %}">{% block title %}HK Batteries{% endblock %}</a></h1>
    <div class="bottom-buffer">
        <button type="button" class="btn btn-default toggle-sidebar"> « Toggle filter</button>
    </div>
    <div class="row" id="row-main">
        <div class="col-md-2 text-center" id="sidebar">
            <div class="bottom-buffer">{% crispy filter.form filter.form.helper %}</div>
        </div>
        <div class="col-md-10" id="content">
          <form action="{% url 'battery:compare' %}" method="get">
          <div class="form-actions">
            <input type="submit" name="action" class="btn btn-primary" value="Compare" />
          </div>
            <div id="table">{% render_table table 'table.html' %}</div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script type="text/javascript">
{% for k, v in filter_vals.items %}
        $("#id_{{k}}_1").slider({
            step: 1,
            min: {{v.min}},
            max: {{v.max}},
            value: [{{v.min}},{{v.max}}],
        });
{% endfor %}
    </script>
{% endblock %}
