{% extends 'base.html' %} {% load bootstrap3 %} {% load render_table from django_tables2 %} {% block content %}
<div class="dpad container-fluid">
    <h1><a href="{% url 'battery:index' %}">{% block title %}HK Batteries{% endblock %}</a></h1>
    <div class="bottom-buffer">
        <button type="button" class="btn btn-default toggle-sidebar"> « Toggle filter</button>
    </div>
    <div class="row" id="row-main">
        <div class="col-md-2 text-center" id="sidebar">
            <div class="bottom-buffer"> {% include 'battery/filter.html' %}</div>
        </div>
        <div class="col-md-10" id="content">
            <div id="table">{% render_table table 'table.html' %}</div>
        </div>
    </div>
</div>
{% endblock %}
