beautifulsoup4>=4.4.1
Django>=1.8
django-bootstrap3>=6.2.2
django-crispy-forms>=1.5.2
django-debug-toolbar>=1.4
django-extensions>=1.5.9
django-filter>=0.11.0
django-tables2>=1.0.4
ipdb>=0.8
ipython>=4.0.0
MechanicalSoup>=0.3.1
psycopg2>=2.6
requests>=2.8.1
Werkzeug>=0.10.4
